.entry-title h4 a {
    height: 54px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#posts .entry-content p {
    height: 76px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.entry-meta li.timeago, .comment-content .comment-author span a.timeago {
    font-family: sans-serif;
    font-style: normal;
}